* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    height:100%;
    background: linear-gradient(180deg, #10456D, #331E38 80%) no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #FCF9EE;

}



/* Desktop Navbar  */
.navbar {
    background: #171132;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 24pt;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar_container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    width: 100%;
    margin: 0 80px;
    padding: 0 70px;
}

#navbar_logo {
    cursor: pointer;
    text-decoration: none;
    padding:10px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #FCF9EE;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font: 'Roboto';
    font-size: 14pt;
    padding: 0 12pt;
    height: 100%;
}

.navbar_links:hover{
    color: #00fff2;
    text-shadow: 0px 0px 3px #00fff2;

}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #00fff2;

}

h1 {
    font-size: 60pt;
}

h2 {
    font-size: 24pt;
    font-weight: 600;
}
h6 {
    font-size: 12pt;
    font-weight: 50;
}
/* hero section*/

.hero{
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    padding: 30px 0px;
}
.hero_text {
    padding-top: 30px;
    font-size: 16pt;
}


p1 {
    font-size: 14pt;
    font-weight: 300;
}

.hero_image{
    padding-top: 10%;
    margin-right:25%;
}
.background_logo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    filter: blur(8px);
    -webkit-filter: blur(8px);

}

/* connect button*/

#connect_button {
    margin-left: 18%;
    padding: 5px 40px;
    background-color: rgba(0, 0, 139, 0);
    border-width: 2px;
    border-color: #00fff2;
    color:#00fff2;
    box-shadow: 0px 0px 10px #00fff2;

}

#connect_button:hover{
    background-color: #00FFF4;
    color: #171132;
    transition: all 0.3s ease-out;
    font-weight: bold;
}


/* ABOUT Section */

.about {
    display: flex;
   justify-content: space-around;
    margin-left: 14%;
    margin-right: 18%;
    padding-top: 20%;
}

.about_container {
    font-size: 30px;
    row-gap: 10px;
    align-content: center;
}

.about_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: rgba(0, 174, 255, 0.226);
    
}

.about_title {
    background-color: blueviolet;
    margin-top: 25%;
    display: flex;
    width: 100%;
}

.about_p {
    background-color: brown;
}

/*skills section*/

.skill_icons {
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 100px;
    position: absolute;
    margin-left: 18%;
    justify-content: space-evenly;
}
.skill_icon {
   margin: 10px;
}

.skillset {
    background-color: rgba(0, 255, 255, 0.253);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     margin-left: 25%;
     margin-right: 18%;
     height: 900px;
}

.skill {
    padding: 30px;
}

.resume_download {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
    margin-left: 18%;
    margin-right: 18%;
}

.resume_button {
    display: flex;
    justify-content: space-around;
}

#download_button {
    padding: 5px 40px;
    background-color: rgba(0, 0, 139, 0);
    border-width: 2px;
    border-color: #00fff2;
    color:#00fff2;
    box-shadow: 0px 0px 10px #00fff2;
    margin: 10px;
}

#download_button:hover{
    background-color: #00FFF4;
    color: #171132;
    transition: all 0.3s ease-out;
    font-weight: bold;
}

/* Process Section */

.process {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    margin-right: 18%;
    background-color: rgba(0, 225, 255, 0.247);
}

.process_cardLeft, .process_cardRight {
    background-color: rgba(169, 169, 169, 0.24);
    width: 50%;
    min-width: 400px;
    height: 300px;
    padding: 30px 20px;
    margin: 10px;
    border-radius: 30pt;

}

.process_cardRight{
    align-self: flex-end;
}

/* Work Section */
/* Shows the case studies of past works with a brief description and a link to learn more */

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18% 0;
}
.work_casestudy {
    font-size: 36pt;
    margin-top: 5%;

}
.work_card {
    display: flex;
    align-items: center;
}

.work_p {
padding-bottom: 5%;
text-align: center;

}

#learnMore_deptEdu , #learnMore_premier, #learnMore_ICCF {
    padding: 5px 40px;
    background-color: rgba(0, 0, 139, 0);
    border-width: 2px;
    border-color: #00fff2;
    color:#00fff2;
    box-shadow: 0px 0px 10px #00fff2;
    margin: 10px;
}

#learnMore_deptEdu:hover{
    background-color: #00FFF4;
    color: #171132;
    transition: all 0.3s ease-out;
    font-weight: bold;
}
#learnMore_premier:hover{
    background-color: #00FFF4;
    color: #171132;
    transition: all 0.3s ease-out;
    font-weight: bold;
}
#learnMore_ICCF:hover{
    background-color: #00FFF4;
    color: #171132;
    transition: all 0.3s ease-out;
    font-weight: bold;
}


/* Footer section*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171132;

}
.footer_container {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin-right: 10%;
}

.footer_about {
    margin:2%;
}

@media  screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 100px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        padding: 50% 50%;
        margin: 80px 0;
        width: 100%;
        position: absolute;
        right: -1000px;
        opacity: 0;
        height: 100vh;
        z-index: -1;
        background: #171132;

    }

    .navbar_menu.active {
        background: #171132;
        right: 0%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 999;
        height: 100vh;
        font-size: 20pt;

    }

    #navbar_logo {
        padding-left: 40px;

    }

    .navbar_toggle .bar {

        width: 20px;
        height: 6px;
        margin: 6px auto;
        background-color: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;

    }

    .navbar_item {
        width: 100%;

    }

    .navbar_links {
        text-align: center;
        padding: 0px;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top:20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar_btn {
        padding-bottom: 20px;

    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    /*mobile About section*/
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgba(153, 50, 204, 0.555);
    }
    
    .about_container {
        font-size: 30px;
        background-color: darksalmon;
    }
    
    .about_card{
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 174, 255, 0.226);
        
    }
    
    .about_title {
        background-color: blueviolet;
        width: 100%;
    }
    
    .about_p {
        background-color: brown;
        padding-top: 20px;
    }

    /*mobile skills section*/

    .skill_icons {
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 100px;
        position: absolute;
        margin-left: 10%;
        justify-content: space-evenly;
    }
    .skill_icon {
       margin: 10px;
    }
    
    .skillset {
        background-color: rgba(0, 255, 255, 0.253);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
         margin-left: 25%;
         margin-right: 10%;
         height: 1000px;
    }
    
    .skill {
        padding: 30px;
    }
    
    .resume_download {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 10%;
        margin-left: 18%;
        margin-right: 18%;
    }

    .resume_download {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 10%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
    }
    
    .resume_button {
        display: flex;
        justify-content: space-around;
    }
    .process {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    margin-right: 18%;
    background-color: rgba(0, 225, 255, 0.247);
}

.process_cardLeft, .process_cardRight {
    background-color: rgba(169, 169, 169, 0.24);
    width: 50%;
    min-width: 400px;
    height: 300px;
    padding: 30px 20px;
    margin: 10px;
    border-radius: 30pt;

}

.process_cardRight{
    align-self: flex-end;
}

}